#container-page-login {
  height: 100vh;
  display: flex;
}
#container-page-login > div:nth-child(1) {
  width: 38%;
}
#container-page-login > div:nth-child(1) .page-content .page-inner {
  padding: 28px;
}
#container-page-login > div:nth-child(1) #main-wrapper {
  max-width: 300px;
  margin: auto;
}
#container-page-login > div:nth-child(2) {
  flex: 1;
  background-color: #1DB198;
  background-image: url(/images/medico-pc.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
}
#container-page-login > div:nth-child(2) > div {
  padding: 20px;
  max-width: 600px;
  backdrop-filter: blur(5px);
  border-radius: 8px;
}
#container-page-login > div:nth-child(2) > div h3, #container-page-login > div:nth-child(2) > div p, #container-page-login > div:nth-child(2) > div li {
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
